


$primary: #41fab3;
$success:rgb(39, 191, 39);
$danger: #ff625a;
$info: #FDFFB8;
$warning:#37E2D5;


$navbar-light-hover-color: #4DFFBE;
$navbar-light-active-color: #4DFFBE;



@import "bootstrap/scss/bootstrap";
