*{
  font-family: "FiraSans" !important;
}
html,
body,
#root {
  min-height: 100%;

}
.container,
.container-fluid {
  background: transparent !important;
}
.rate{
  color: #F9E400;
}
.Home-carousel,
.Home-carousel .carousel-inner,
.Home-carousel .carousel-item {
  height: 75vh; 
}
.carousel-item img {
  width: 100%;
  height: 100%;
   object-fit: cover;
}
.product-card-carousel,
.product-card-carousel .carousel-inner,
.product-card-carousel .carousel-item {
  height: 260px !important; 
}
.product-card-carousel .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.productDetails-card-carousel,
.productDetails-card-carousel .carousel-inner,
.productDetails-card-carousel .carousel-item {
   height: 100vh !important; 
}


.productDetails-card-carousel .carousel-item img {
  width: 100%;
  height: 100%;
   object-fit: contain;
}
.best-seller-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 4px 8px;
  border-radius: 0.375rem;
  background-color: #000957;
  color: white;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.shadow-dark {
  box-shadow: 0 0.5rem 0.5rem rgba(255, 255, 255, 0.15);
}
.siz{
     width: 100px;
     height: 100px;
}
.cursor-pointer {
  cursor: pointer;
}
.fit{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.category-slider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 5px;
  scroll-behavior: smooth;
}


.pimg{
  object-fit:cover;
  width: 100%;
  height: 80vh;
  margin-bottom: 10px;
}
.pagination-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}


.category-slider::-webkit-scrollbar {
  display: none;
}
.btn-cart{
  position: absolute;
  top: 49%;
  right: 15px;
  z-index: 10;
  padding: 4px 8px;
  border-radius: 0.375rem;
  
}
.itm-cart{
  padding: 11px !important;
  border: 2px solid ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px !important;
  height: 10px !important;
}
.footer-link {
  color: inherit;
  text-decoration: none;
 
  margin-bottom: 6px;
  opacity: 0.8;
}

.footer-link:hover {
  opacity: 1;
  text-decoration: underline;
}




@font-face {
  font-family: "FiraSans";
  src: url("./Fonts/centurytiramisu/fira-sans.regular.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Seraphine";
  src: url("./Fonts/centurytiramisu/Seraphine.otf") format("opentype");
  font-weight:lighter;
  font-style: normal;
}
@font-face {
  font-family: "Moook";
  src: url("./Fonts/centurytiramisu/Moook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font4{
  font-family: "Seraphine" !important;
}
.font5{
  font-family: "Moook" !important;
}
.btn-fs{
  font-size: 20px !important;
}
/* .btn-sm2{
  
    padding: 5px !important;
  } */

@media (max-width: 576px) {
 .Home-carousel,
  .Home-carousel .carousel-inner,
 .Home-carousel .carousel-item {
    height: 35vh;
  }
  .title-sm{
    font-size: small !important;
  }
  .dis-sm{
    font-size: smaller !important;
  }
  .btn-sm{
    font-size: 10px !important;
    padding: 2px !important;
  }
  .btn-sm2{
    font-size: 12px !important;
    padding: 4px !important;
  }
  .mgt{
    margin-top: 70px;
  }
  .strtxt{
          display: flex;
          justify-content: center;
          align-items: center;
     
     }
  .btn-cart{
  position: absolute;
  top: 35%;
  right: 11px;
  z-index: 10;
   padding: 3px !important;
  border-radius: 0.375rem;
  
}
.btn-fs{
  font-size: 18px !important;
}
     .product-card-carousel,
.product-card-carousel .carousel-inner,
.product-card-carousel .carousel-item {
  height: 150px !important; /* set your desired fixed height */
}
.productDetails-card-carousel,
.productDetails-card-carousel .carousel-inner,
.productDetails-card-carousel .carousel-item {
   height: 450px !important; 
}
.productDetails-card-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.category-slider .btn {
  flex: 0 0 auto; 
}
.btn-warning {
  border-width: 2px !important;

}

.btn-outline-warning {
  border-width: 2px !important;
  background-color: transparent !important;
  color: #37E2D5 !important;
 
}
}
@media (min-width: 577px) and (max-width: 991px) {
 .Home-carousel,
  .Home-carousel .carousel-inner,
 .Home-carousel .carousel-item {
    height: 50vh;
  }
  
 
   .product-card-carousel,
.product-card-carousel .carousel-inner,
.product-card-carousel .carousel-item {
  height: 150px !important; /* set your desired fixed height */
}
.btn-cart{
  position: absolute;
  top: 28%;
  right: 11px;
  z-index: 10;
   padding: 3px !important;
  border-radius: 0.375rem;
  
}
}
@media (min-width: 992px) {
 .Home-carousel,
 .Home-carousel .carousel-inner,
  .Home-carousel .carousel-item {
    height: 75vh;
  }
.dis-lg{
 font-size: 20px;
}

.btn-warning {
  border-width: 2px !important;

}

.btn-outline-warning {
  border-width: 2px !important;
  background-color: transparent !important;
  color: #37E2D5 !important;
 
}

}